<% include ../merchantPartials/header.ejs%>
<!--  -->

<!-----==============================side bar ===========================================-->

<nav class="vertical_nav">
  <ul id="js-menu" class="menu">
    <li class="menu--item" style="text-align: center;padding-bottom: 10px;">
      <img src="/images/logo.png" width="60%;" />
    </li>
    <li class="menu--item">
      <a
        href="/merchantDashboard/offer"
        class="active1  menu--link tablinks1"
        title="create coupon"
        style="text-decoration: none;"
      >
        <i class="fas fa-tags"></i>
        <span class="top">Fun Deals</span>
      </a>
    </li>

    <li class="menu--item">
      <a
        href="/merchantDashboard/customer"
        class="menu--link tablinks1"
        title="Customer coupon list"
        style="text-decoration: none;"
      >
        <i class="fas fa-th "></i>
        <span class="top">Customers</span>
      </a>
    </li>

   
    <li class="menu--item">
      <a
        href="/merchantDashboard/profile"
        class="menu--link tablinks1"
        title="Your profile"
        style="text-decoration: none;"
      >
        <i class="fas fa-user-circle"></i>
        <span class="top">Profile</span>
      </a>
    </li>
    <li class="menu--item">
        <a
          href="/merchantDashboard/branch"
          class="menu--link tablinks1"
          title="Your profile"
          style="text-decoration: none;"
        >
          <i class="fas fa-user-circle"></i>
          <span class="top">Branches</span>
        </a>
      </li>
    <li class="menu--item">
      <a
        href="/merchantDashboard/gallery"
        class="menu--link tablinks1"
        title="Gallery"
        style="text-decoration: none;"
      >
        <i class="fas fa-image "></i>
        <span class="top">Gallery</span>
      </a>
    </li>
    <li class="menu--item">
      <a
        href="/merchantDashboard/review"
        class="menu--link tablinks1"
        title="Reviews"
        style="text-decoration: none;"
      >
        <i class="fas fa-comments "></i>
        <span class="top">Reviews</span>
      </a>
    </li>
  </ul>

  <button id="collapse_menu" class="collapse_menu">
    <i class="collapse_menu--icon  fas fa-fw"></i>
    <span class="collapse_menu--label"></span>
  </button>
</nav>

<!-----============================== end side bar ===========================================-->


<!-----==============================  body  ===========================================-->


<!-----============== customer body========================-->

<div class="wrapper" id="main">

  




  <!-----============== coupon body========================-->
      <section class="tabcontent1" id="coupons"><br>
        <div class="tab100">
          <div class="tab1">
            <button class="tablinks2" onclick="openCity2(event, 'Pending1')" id="defaultOpen2" auto>Pending</button>
            <button class="tablinks2" onclick="openCity2(event, 'Approved1')">Approved</button>
            <button class="tablinks2" onclick="openCity2(event, 'Rejected1')">Rejected</button>
            <button class="tablinks2" onclick="openCity2(event, 'All1')">All</button>
            <!-- <div class="form-group1">
                <input class="form-control" id="myInput1" type="text" placeholder="Search..">
            </div> -->
          </div>
        </div>
  
      
        <!-----============== coupon pending body========================-->
  
  
        <div id="Pending1" class="tabcontent2">
           <div class="create pull-right">
              <button type="button" class="btn btn-primary blink" data-toggle="modal" style="font-family: 'Nunito', sans-serif;" data-target="#myModal" id="addRow" onclick="addRow()">
                 <b> &nbsp; Create Coupon &nbsp; </b>
                </button>
           </div>
            <!-- Modal -->
            
                          <!-- =New Model= -->
                          <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog x2 modal-dialog-centred">
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" style="font-size: 25px;">&times;</button>
                                  <h4 class="modal-title"><b>Create New HappyDeal Voucher</b></h4>
                                </div>
                                          <!--========================= new Coupons formt ===========================-->
                                <div class="modal-body">
                                  <form action="/coupons" method="POST" id="couponCreateForm" enctype="multipart/form-data">
                                      
                                          <div class="row">
                                            <div class="col-md-11 col-xs-11" style="padding-right: 0px;">
                                                <div class="form-group x1">
                                                    <input type="text" name="coupon[offerName]" id="name" class="form-control" required>
                                                    <label class="form-control-placeholder" for="name">Enter Your HappyDeal Offer  </label>
                                                </div> 
                                            </div>
                                            <div class="col-md-1 col-xs-1" style="padding-left: 0px;">
                                                <div class="tooltip1">?
                                                    <span class="tooltiptext">Write here the happiness name</span>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <div class="form-group x1">
                                                    <select type="text" name="coupon[offerType]" id="name" class="form-control" required>
                                                        <option value="food">Offer Type</option>
                                                      <option value="food">Food</option>
                                                      <option value="fashion">Fashion</option>
                                                      <option value="others">Activity / other</option>
                                                    </select>
                                                  
                                                    </div>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <div class="form-group x1">
                                                    <input type="number" inputmode="numeric" min="1" max="1000"  maxlength="3" name="coupon[quantity]" id="qty" class="form-control" required maxlength="3">
                                                    <label class="form-control-placeholder" for="qty">Quantity </label>
                                                    
                                                  
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-xs-12" style="padding-right: 0px;">
                                                <p class="start_">HappyDeal Keywords :</p>
                                            </div>
                                            <div class="col-md-6 col-xs-11" style="padding-right: 0px;">
                                                <div class="form-group x1">
                                                    <input type="text" name="coupon[searchKeyWords]" id="keyword" class="form-control" required>
                                                    <label class="form-control-placeholder" for="keyword">dessert,cake,jeans,shop</label>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-xs-1" style="padding-left: 0px;">
                                                <div class="tooltip1">?
                                                    <span class="tooltiptext">keywords for filter and search (name,thing,place or anything you want)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ul">
                                           <div class="col-md-6 col-xs-6 li" style="padding:0px;">
                                              <input type="radio" name="coupon[couponType]" value="Happy Hour" onclick="javascript:yesnoCheck();" id="yesCheck">
                                              <label for="yesCheck"><h2 class="happy">Happy Hour</h2></label>
                                              <div class="check"></div>
                                           </div>
                                           <div class="col-md-6 col-xs-6 li" style="padding:0px;">
                                              <input type="radio" name="coupon[couponType]" value="Full Day" checked id="noCheck" onclick="javascript:yesnoCheck();" id="noCheck">
                                              <label for="noCheck"><h2 class="happy">Full Time</h2></label>
                                              <div class="check"><div class="inside"></div></div>
                                           </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6 col-xs-12">
                                              <p class="start_">Start Date :</p>
                                              <div class="input-group x1" style="width: 100%;margin-top: -15px;">
                                                  <input type="date" name="coupon[startDate]" id="date1" class="form-control" onclick="(this.type='date')" required placeholder="MM/DD/YYYY">
                                              </div>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <p class="start_">Expire Date :</p>
                                                <div class="input-group x1" style="width: 100%;margin-top: -15px;">
                                                    <input type="date" name="coupon[expireDate]" id="date2" class="form-control" onclick="(this.type='date')" required placeholder="MM/DD/YYYY">
                                                </div>
                                            </div>
                                           
                                         </div>
                                         <div class="row" id="ifYes" style="display:none"><br>
                                            <div class="col-md-5 col-xs-11" style="padding-right: 0px;">
                                              <p class="start_">Start Time :</p>
                                                  <div class="input-group x1" style="width: 100%;margin-top: -15px; ">
                                                      <input type="time" name="coupon[startTime]" id="time1" class="form-control" onclick="(this.type='time')" placeholder="HH:MM">
                                                  </div>
                                            </div>
                                            <div class="col-md-1 col-xs-1" style="padding-left: 0px;"><p></p>
                                                <div class="tooltip1">?
                                                    <span class="tooltiptext">opening timing of Deals</span>
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-xs-11 margin-l_0" style="padding-right: 0px;">
                                                <p class="start_">End Time :</p>
                                                <div class="input-group x1" style="width: 100%; margin-top: -15px;">
                                                    <input type="time" name="coupon[expireTime]" id="time2" class="form-control" onclick="(this.type='time')" placeholder="HH:MM">
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-xs-1" style="padding-left: 0px;"><p></p>
                                                <div class="tooltip1">?
                                                    <span class="tooltiptext">Closing time of Deals</span>
                                                </div>
                                            </div>
                                         </div>
                                         <div class="row">
                                           <div class="col-md-12">
                                              <div class="logoupload">
                                                  <label for="imagechoose"><i class="fas fa-upload i"></i>Choose Offer Picture</label>
                                                  <input type="file" accept="image/*" name="image" class="hide_" id="imagechoose" onchange="readURL(this);" style="display: none;">
                                              </div>
                                              <center><img id="blah" class="img_demo1" src="" alt="" /></center>
                                           </div>
                                         </div>
                                         <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary pull-left" >Create</button>
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Create</button>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div> -->
                              </div>
                            </div>
                        </div>
                
  
            <!--========================= Coupons pending list ===========================-->
            <div class="coupons_list">
              
              <!---====== a coupon card =====-->
              <% merchantCoupons.forEach(function(coupon){ %>
                <%if(coupon.isPending){%>
                <div class="card">
                    <div class="card-header text-center ">
                        <p class="status">Pending</p>
                        <p class="qty">Qty: <span class="qty_count"><%=coupon.quantity%></span></p>
                      <img src="<%=coupon.image.url%>" alt="" class="w-100">
                    </div>
                    <div class="card-body">
                      <h5 class="coup_name text-center"><%=coupon.offerName%></h5>
                    <%if(coupon.startDate.getDate()<10){%>
                      <% var sdate=`0${coupon.startDate.getDate()}`%>
                      <%} else {%>
                        <% var sdate=coupon.startDate.getDate()%>
                      <%}%>
                    <%if(coupon.startDate.getMonth()<9){%>
                        <% var smonth=`0${coupon.startDate.getMonth()+1}`%>
                        <%} else {%>
                          <% var smonth =coupon.startDate.getMonth()+1%>
                      <%}%>
                    
                    <% var syear=coupon.startDate.getFullYear()%>
                    <% startDate=`${sdate}/${smonth}/${syear}`%>
                    
                    <%if(coupon.expireDate.getDate()<10){%>
                        <% var edate=`0${coupon.expireDate.getDate()}`%>
                        <%} else {%>
                          <% var edate=coupon.expireDate.getDate()%>
                        <%}%>
                      <%if(coupon.expireDate.getMonth()<9){%>
                          <% var emonth=`0${coupon.expireDate.getMonth()+1}`%>
                          <%} else {%>
                            <% var emonth =coupon.expireDate.getMonth()+1%>
                        <%}%>
                      
                      <% var eyear=coupon.expireDate.getFullYear()%>
                      <% expireDate=`${edate}/${emonth}/${eyear}`%>
                      <p class="timing"><span>From <br> <span class="date"><%=startDate%></span> &nbsp; - &nbsp; <span class="time"><%=coupon.startTime%></span></span></p>                      
                      <p class="timing"><span>To <br> <span class="date"><%=expireDate%></span> &nbsp; - &nbsp; <span class="time"><%=coupon.expireTime%></span></span></p>
                    </div>
                    <%if(coupon.couponType=="Happy Hour"){%>
                    <div class="card-footer text-center">
                     Happy Hour
                    </div>
                    <%}else{%>
                      <div class="card-footer text-center">
                        Full Day
                       </div>
                       <%}%>
                </div> 
                <%}%>
                <% })%> 
                
                
            </div>
          </div>
       <!--========================= end Coupons pending list ===========================-->
  
       <!-----======== end pending body===========-->
  
  
       <!-----======== Used body===========-->
        <div id="Approved1" class="tabcontent2">
            <div class="coupons_list">
  
                    <% merchantCoupons.forEach(function(coupon){ %>
                        <%if(coupon.isApproved){%>
                      <div class="card">
                          <div class="card-header p-0 text-center ">
                              <p class="status_approved">Approved</p>
                              <p class="qty">Qty: <span class="qty_count"><%=coupon.quantity%></span></p>
                            <img src="<%=coupon.image.url%>" alt="" class="w-100">
                          </div>
                          <div class="card-body">
                            <h5 class="coup_name text-center"><%=coupon.offerName%></h5>
                            <%if(coupon.startDate.getDate()<10){%>
                                <% var sdate=`0${coupon.startDate.getDate()}`%>
                                <%} else {%>
                                  <% var sdate=coupon.startDate.getDate()%>
                                <%}%>
                              <%if(coupon.startDate.getMonth()<9){%>
                                  <% var smonth=`0${coupon.startDate.getMonth()+1}`%>
                                  <%} else {%>
                                    <% var smonth =coupon.startDate.getMonth()+1%>
                                <%}%>
                              
                              <% var syear=coupon.startDate.getFullYear()%>
                              <% startDate=`${sdate}/${smonth}/${syear}`%>
                              
                              <%if(coupon.expireDate.getDate()<10){%>
                                  <% var edate=`0${coupon.expireDate.getDate()}`%>
                                  <%} else {%>
                                    <% var edate=coupon.expireDate.getDate()%>
                                  <%}%>
                                <%if(coupon.expireDate.getMonth()<9){%>
                                    <% var emonth=`0${coupon.expireDate.getMonth()+1}`%>
                                    <%} else {%>
                                      <% var emonth =coupon.expireDate.getMonth()+1%>
                                  <%}%>
                                
                                <% var eyear=coupon.expireDate.getFullYear()%>
                                <% expireDate=`${edate}/${emonth}/${eyear}`%>
                            <p class="timing"><span>From <br> <span class="date"><%=startDate%></span> &nbsp; - &nbsp; <span class="time"><%=coupon.startTime%></span></span></p>
                            <p class="timing"><span>To <br> <span class="date"><%=expireDate%></span> &nbsp; - &nbsp; <span class="time"><%=coupon.expireTime%></span></span></p>
                          </div>
                          <%if(coupon.couponType=="Happy Hour"){%>
                            <div class="card-footer text-center">Happy Hour</div>
                            <%}else{%>
                              <div class="card-footer text-center">Full Day</div>
                               <%}%>
                      </div> <%}%><% })%> 
          
            </div>
          </div> 
    
       <!-----======== end Used body===========-->
  
  <!-----======== rejected body===========-->
  
  <div id="Rejected1" class="tabcontent2">
    
    <div class="coupons_list">
  
            <% merchantCoupons.forEach(function(coupon){ %>
                <%if(coupon.isRejected){%>
              <div class="card">
                  <div class="card-header p-0 text-center ">
                      <p class="status_rejected">Rejected</p>
                      <p class="qty">Qty: <span class="qty_count"><%=coupon.quantity%></span></p>
                    <img src="<%=coupon.image.url%>" alt="" class="w-100">
                  </div>
                  <div class="card-body">
                    <h5 class="coup_name text-center"><%=coupon.offerName%></h5>
                    <%if(coupon.startDate.getDate()<10){%>
                        <% var sdate=`0${coupon.startDate.getDate()}`%>
                        <%} else {%>
                          <% var sdate=coupon.startDate.getDate()%>
                        <%}%>
                      <%if(coupon.startDate.getMonth()<9){%>
                          <% var smonth=`0${coupon.startDate.getMonth()+1}`%>
                          <%} else {%>
                            <% var smonth =coupon.startDate.getMonth()+1%>
                        <%}%>
                      
                      <% var syear=coupon.startDate.getFullYear()%>
                      <% startDate=`${sdate}/${smonth}/${syear}`%>
                      
                      <%if(coupon.expireDate.getDate()<10){%>
                          <% var edate=`0${coupon.expireDate.getDate()}`%>
                          <%} else {%>
                            <% var edate=coupon.expireDate.getDate()%>
                          <%}%>
                        <%if(coupon.expireDate.getMonth()<9){%>
                            <% var emonth=`0${coupon.expireDate.getMonth()+1}`%>
                            <%} else {%>
                              <% var emonth =coupon.expireDate.getMonth()+1%>
                          <%}%>
                        
                        <% var eyear=coupon.expireDate.getFullYear()%>
                        <% expireDate=`${edate}/${emonth}/${eyear}`%>
                    <p class="timing"><span>From <br> <span class="date"><%=startDate%></span> &nbsp; - &nbsp; <span class="time"><%=coupon.startTime%></span></span></p>
                    <p class="timing"><span>To <br> <span class="date"><%=expireDate%></span> &nbsp; - &nbsp; <span class="time"><%=coupon.expireTime%></span></span></p>
                  </div>
                  <%if(coupon.couponType=="Happy Hour"){%>
                    <div class="card-footer text-center">Happy Hour</div>
                    <%}else{%>
                      <div class="card-footer text-center">Full Day</div>
                       <%}%>
              </div> <%}%><% })%> 
      
     
    </div>
  </div>    
  <!-----======== end rejected body===========-->
  
  
       <!-----======== all body===========-->
  
        <div id="All1" class="tabcontent2">
            <div class="coupons_list">
                    <% merchantCoupons.forEach(function(coupon){ %>
                        <%if(coupon.isRejected||coupon.isApproved||coupon.isPending){%>
                      <div class="card">
                          <div class="card-header p-0 text-center ">
                              <%if(coupon.isApproved){%><p class="status_approved">Approved</p><%} else if(coupon.isRejected){%><p class="status_rejected">Rejected</p><%} else {%><p class="status">Pending</p><%}%>
                              <p class="qty">Qty: <span class="qty_count"><%=coupon.quantity%></span></p>
                            <img src="<%=coupon.image.url%>" alt="" class="w-100">
                          </div>
                          <div class="card-body">
                            <h5 class="coup_name text-center"><%=coupon.offerName%></h5>
                            <%if(coupon.startDate.getDate()<10){%>
                                <% var sdate=`0${coupon.startDate.getDate()}`%>
                                <%} else {%>
                                  <% var sdate=coupon.startDate.getDate()%>
                                <%}%>
                              <%if(coupon.startDate.getMonth()<9){%>
                                  <% var smonth=`0${coupon.startDate.getMonth()+1}`%>
                                  <%} else {%>
                                    <% var smonth =coupon.startDate.getMonth()+1%>
                                <%}%>
                              
                              <% var syear=coupon.startDate.getFullYear()%>
                              <% startDate=`${sdate}/${smonth}/${syear}`%>
                              
                              <%if(coupon.expireDate.getDate()<10){%>
                                  <% var edate=`0${coupon.expireDate.getDate()}`%>
                                  <%} else {%>
                                    <% var edate=coupon.expireDate.getDate()%>
                                  <%}%>
                                <%if(coupon.expireDate.getMonth()<9){%>
                                    <% var emonth=`0${coupon.expireDate.getMonth()+1}`%>
                                    <%} else {%>
                                      <% var emonth =coupon.expireDate.getMonth()+1%>
                                  <%}%>
                                
                                <% var eyear=coupon.expireDate.getFullYear()%>
                                <% expireDate=`${edate}/${emonth}/${eyear}`%>
                            <p class="timing"><span>From <br> <span class="date"><%=startDate%></span> &nbsp; - &nbsp; <span class="time"><%=coupon.startTime%></span></span></p>
                            <p class="timing"><span>To <br> <span class="date"><%=expireDate%></span> &nbsp; - &nbsp; <span class="time"><%=coupon.expireTime%></span></span></p>
                          </div>
                          <%if(coupon.couponType=="Happy Hour"){%>
                            <div class="card-footer text-center">Happy Hour</div>
                            <%}else{%>
                              <div class="card-footer text-center">Full Day</div>
                               <%}%>
                      </div> <%}%><% })%>
                
              </div>
        </div>    
        <!-----======== end all body===========---->
      </section>
  <!--============== end coupon body========================-->
  
  
  
  
  
  
  <!--============== end reviews body========================-->
  </div>
  
  
  
  
  
  <!-----============================== end body  ===========================================-->
  
<script>
  window.addEventListener('load', (event) => {
  
  button1=document.getElementById("defaultOpen2");
  button1.click();
  
});
</script>

  
  <script type="text/javascript">

    function yesnoCheck() {
        if (document.getElementById('yesCheck').checked) {
            document.getElementById('ifYes').style.display = 'block';
        }
        else document.getElementById('ifYes').style.display = 'none';
    
    }
  </script>


<script>

      let uploadform=document.querySelector("#couponCreateForm");
        uploadform.addEventListener("submit",function(event){
        let uploadImage=document.querySelector("#imagechoose").files.length;
        if((uploadImage)==0){
          event.preventDefault();
          alert("Select Coupon Logo.")
        }
        var oFile =document.querySelector("#imagechoose").files[0]; 
          if (oFile.size > (1024000)*3){ // 100 kb for bytes.
              event.preventDefault();
              alert("File size must under 3 mb!");
          }
      })
</script>


<% include ../merchantPartials/footer.ejs%>
